@model FinanceTracker.Models.SavingsGoal

@{
    ViewData["Title"] = "Add New Savings Goal";
}

<form asp-action="Add"
      method="post">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name"
               type="text"
               class="form-control" />

        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>

        <textarea asp-for="Description"
                  class="form-control">
        </textarea>
    </div>

    <div class="custom-control custom-checkbox my-3">
        <input asp-for="HasDeadline"
               type="checkbox" 
               class="custom-control-input has-deadline" 
               onchange="valueChanged()"/>
        <label class="custom-control-label" asp-for="HasDeadline"></label>
    </div>

    <div class="form-group deadline" style="display: none">
        <label asp-for="Deadline"></label>
        <input asp-for="Deadline"
               type="date"
               value="@String.Format("{0:yyyy-MM-dd}", DateTime.Now)"
               class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit">Add New Savings Goal</button>
</form>

@section Scripts{ 
    <script>
        function valueChanged() {
            if ($('.has-deadline').is(":checked"))
                $(".deadline").show();
            else
                $(".deadline").hide();
        }
    </script>
} 