@*Total Expenses for the Month/Total Savings for the Month Card*@

@model ExpenseSavingsViewModel

<div class="card h-100 shadow-sm">
    <div class="card-body">
        <div class="row">
            <div class="col-3" style="border-right: 2px solid var(--gray)">
                <p class="text-larger text-center mb-0">Total Spent</p>
                <p class="text-center m-0 text-muted"><small>this month</small></p>

                <h2 class="text-center mt-2">R @String.Format("{0:0.00}", Model.TotalExpenses)</h2>
            </div>

            <div class="col-3">
                <p class="text-larger text-center mb-0">Total Saved</p>
                <p class="text-center m-0 text-muted"><small>this month</small></p>

                <h2 class="text-center mt-2">R @String.Format("{0:0.00}", Model.TotalSaved)</h2>
            </div>

            <div class="col-6">
                <div><canvas id="savingsChart"></canvas></div>
            </div>
        </div>
        

    </div>
</div>

<script>
    var ctx = document.getElementById('savingsChart').getContext('2d');
    var chart = new Chart(ctx, @Html.Raw(Json.Serialize(Model.Chart)));
</script>