@model Category

@{ 
    ViewData["Title"] = "Add New Category";
}

<form method="post"
      asp-action="Add">

    <div class="row">
        <div class="form-group col-6">
            <label asp-for="Name"></label>
            <input asp-for="Name"
                   type="text"
                   class="form-control" />
        </div>

        <div class="form-group col-1">
            <label asp-for="ColorCode"></label>
            <input asp-for="ColorCode"
                   type="color"
                   class="form-control"
                   value="#007bff"/>
        </div>

        <div class="form-group col-6">
            <label asp-for="Description"></label>
            <textarea asp-for="Description"
                      class="form-control">
        </textarea>
        </div>
    </div>

    <button type="submit"
            class="btn btn-primary">
        Add Category
    </button>
</form>