@model Category

@{ 
    ViewData["Title"] = "Add New Category";
}

<div class="card-container shadow-sm">
    <div class="card col-8">
        <div class="card-body">
            <form method="post"
                  asp-action="Add">

                <div class="row">
                    <div class="form-group col-10">
                        <label asp-for="Name"></label>
                        <input asp-for="Name"
                               type="text"
                               class="form-control" />
                    </div>

                    <div class="form-group col-2">
                        <label asp-for="ColorCode"></label>
                        <input asp-for="ColorCode"
                               type="color"
                               class="form-control"
                               value="#007bff" />
                    </div>

                    <div class="form-group col-12">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description"
                                  class="form-control">
        </textarea>
                    </div>
                </div>

                <button type="submit"
                        class="btn btn-primary">
                    Add Category
                </button>
            </form>
        </div>
    </div>
</div>